
<div class="card">
    <div class="card-header">
        Data Historica SQL
    </div>
    <div class="card-body">
        <table class="table table-hover" id="tbData" cellspacing="0" style="width:100%">
            <thead class="text-gray-900">
                <tr>
                    <th>CodigoHistoria</th>
                    <th>Nombre</th>
                    <th>OrdenAño</th>
                    <th>OrdenNumero</th>
                    <th>OrdenFecha</th>
                    <th>NombreExamen</th>
                    <th>FechaIngreso</th>
                    <th>Resultado</th>
                    <th>FechaResultado</th>
                    <th>UltimoResultado</th>
                    <th>FechaUltResultado</th>
                    <th>UltimoResultado2</th>
                    <th>FechaUltResultado2</th>
                </tr>
            </thead>
            <tbody class="text-dark">
            </tbody>
        </table>
    </div>
</div>