
@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-html5-3.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-/kQ36LkYSVMxBaSxgi8/k7+CzkdFhb5ItDNckGQIVKc9lzsdwo1Kvoceqpb4BreE" crossorigin="anonymous">
}

<div class="card">
    <div class="card-header">
        Data Historica SQL
    </div>
    <div class="card-body">
        <table class="table table-hover" id="tbData" cellspacing="0" style="width:100%">
            <thead class="text-gray-900">
                <tr>
                    <th>CodigoHistoria</th>
                    <th>Nombre</th>
                    <th>OrdenAño</th>
                    <th>OrdenNumero</th>
                    <th>OrdenFecha</th>
                    <th>NombreExamen</th>
                    <th>Patologico</th>
                    <th>FechaIngreso</th>
                    <th>Resultado</th>
                    <th>FechaResultado</th>
                    <th>UltimoResultado</th>
                    <th>FechaUltResultado</th>
                    <th>UltimoResultado2</th>
                    <th>FechaUltResultado2</th>
                </tr>
            </thead>
            <tbody class="text-dark">
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.4/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.4/js/responsive.dataTables.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-html5-3.2.2/datatables.min.js" integrity="sha384-W5JWOOUXI5sBfmA8pJlmzAeyLJj0zxWG16hMNbbDa1P9o2XWDkYssi5c0biHm2IW" crossorigin="anonymous"></script>

	<script src="~/js/scriptssql/scriptdatasql.js"></script>
}

